name: Deploy Sandbox

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    name: Deploy to Sandbox
    uses: ./.github/workflows/deploy-descriptors.yml
    with:
      target: t01.durablox.net
