name: Deploy Production

on:
  push:
    branches:
      - main

jobs:
  deploy-x01:
    name: Deploy to x01 (Integration)
    uses: ./.github/workflows/deploy-descriptors.yml
    with:
      target: x01.durablox.com

  deploy-p01:
    name: Deploy to p01
    needs: deploy-x01
    uses: ./.github/workflows/deploy-descriptors.yml
    with:
      target: p01.durablox.com

  deploy-p02:
    name: Deploy to p02
    needs: deploy-x01
    uses: ./.github/workflows/deploy-descriptors.yml
    with:
      target: p02.durablox.com

  deploy-p03:
    name: Deploy to p03
    needs: deploy-x01
    uses: ./.github/workflows/deploy-descriptors.yml
    with:
      target: p03.durablox.com
